@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
hr{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    width: 330px;
    height: 350px;
}
.card .profile-information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card .button{
    background-color: var(--background-color);
    color: white;
    font-weight: 700;
    width: 20%;
    height: 40px;
    border-radius: 10%;
    border-color: var(--background-color);
    margin-top: 10px;
}
.card .profile-information img{
    border-radius: 50%;
    margin-top: 20px;
    max-width: 40%;
}
.card .profile-numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}
.profile-numbers .info .counter,
.card .profile-information p{
    font-weight: 700;
}
.card .profile-information .age,
.card .profile-information .city,
.profile-numbers .info .counter-type{
    color: var(--text-color);
}